.button {
  position: relative;
  padding: 10px 67px 11px;
  margin: 50px 0 0 0;
  border: 0;
  background: #ffe8c7;
  border-radius: 100px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  font-family: "Futura-Light";
}
