.menu {
  &__list {
    height: 100%;
    display: flex;
    padding: 0;
  }

  &__item {
    font-size: 17px;
    line-height: 1.18;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
  }
}
